@theme {
  --color-primary: #34393e;
  --color-secondary: #9994ce;

  --color-white: #ffffff;
  --color-black: #131517;
  --color-grey: #818183;
  --color-placeholder: #b5b5b7;
  --color-lightgrey: #d7d6d6;
  --color-light-text: #e5e6e6;
  --color-background: #f7f6f9;

  --color-yellow: #fecf26;
  --color-warn: #ff686a;

  --color-dimmed: rgba(34, 40, 48, 0.6);
  --color-success: #82de46;
}
