@font-face {
  font-family: Gmarket;
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Gmarket;
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-style: normal;
  font-weight: medium;
  font-display: swap;
}

@font-face {
  font-family: Jalnan;
  src: url('/fonts/JALNAN.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@utility h1 {
  @apply text-[4.8rem] font-bold;
}
@utility h2 {
  @apply text-[3.8rem] font-bold;
}
@utility h3 {
  @apply text-[2.4rem] font-bold;
}
@utility h4 {
  @apply text-[2.0rem] font-bold;
}
@utility h5 {
  @apply text-[1.8rem] font-bold;
}
@utility h6 {
  @apply text-[1.6rem] font-bold;
}
@utility h7 {
  @apply text-[1.4rem] font-bold;
}

@utility p1 {
  @apply text-[3.8rem] font-medium;
}
@utility p2 {
  @apply text-[2.0rem] font-medium;
}
@utility p3 {
  @apply text-[1.8rem] font-medium;
}
@utility p4 {
  @apply text-[1.6rem] font-medium;
}
@utility p5 {
  @apply text-[1.4rem] font-medium;
}
@utility p6 {
  @apply text-[1.0rem] font-medium;
}

@theme {
  --font-jalnan: 'Jalnan', sans-serif;
  --font-gmarket: 'Gmarket', sans-serif;
}

@layer base {
  html {
    font-family: gmarket;
    font-weight: 400;
    font-size: 50%;
  }
  @media (min-width: 1300px) {
    html {
      font-size: 62.5%;
    }
  }
  @media (min-width: 1680px) {
    html {
      font-size: 80%;
    }
  }
}
