@utility border-divider {
  border: 0.1rem solid var(--color-grey-300);
}

@utility border-chart {
  border-top: 0.1rem dashed var(--color-grey-300);
}

@utility border-moreview {
  border-top: 0.1rem solid var(--color-grey-500);
}
