@import 'tailwindcss';

@font-face {
  font-family: Moneygraphy;
  src: url('/fonts/Moneygraphy.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jalnan;
  src: url('/fonts/JALNAN.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@utility text-p1 {
  font-size: 3.2rem;
}
@utility text-p2 {
  font-size: 2.8rem;
}
@utility text-p3 {
  font-size: 2.4rem;
}
@utility text-p4 {
  font-size: 2rem;
}
@utility text-p5 {
  font-size: 1.8rem;
}
@utility text-p6 {
  font-size: 1.6rem;
}
@utility text-p7 {
  font-size: 1.4rem;
}
@utility text-p8 {
  font-size: 1rem;
}

@theme {
  --font-jalnan: 'Jalnan', sans-serif;
  --font-moneygraphy: 'Moneygraphy', sans-serif;
}

@layer base {
  html {
    font-size: 50%;
  }
  @media (min-width: 1300px) {
    html {
      font-size: 62.5%;
    }
  }
  @media (min-width: 1680px) {
    html {
      font-size: 80%;
    }
  }
}
